version: '3.1'

services:
  ursamu:
    hostname: ursamu
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        BASE: ${BASE:-denoland/deno:ubuntu}
    stdin_open: true
    tty: true
    ports:
      - "4201:4201"
      - "8080:4202"
      - "80:4203"
    volumes:
      - "./data:/app/data"
      - "./text:/app/text"
      - "./config:/app/config"
    container_name: ursamu
