@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ursamu-bg text-gray-200 antialiased;
  }
}

.prose {
  @apply max-w-4xl mx-auto;
}

.prose h1 {
  @apply text-4xl md:text-5xl font-extrabold mb-8 tracking-tight text-white;
}

.prose h2 {
  @apply text-2xl font-bold mt-12 mb-6 border-b border-ursamu-primary/30 pb-2
    text-ursamu-accent;
}

.prose a {
  @apply text-ursamu-accent no-underline hover:underline
    decoration-ursamu-accent/50 underline-offset-4;
}

.prose pre {
  @apply bg-[#0d0d0d] border border-ursamu-primary/40 rounded-xl p-4 my-8
    shadow-2xl;
}

.prose code {
  @apply text-purple-300 bg-purple-900/30 px-1 rounded font-mono text-sm;
}
